name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  Lint:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v4
      - name: SwiftFormat
        run: swiftformat --lint . --reporter github-actions-log
